/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    body {
        @apply bg-white text-gray-900 antialiased w-full flex flex-col items-center;
    }
}